/* Body of html page background and font */
body {
	background-color: #fff7fb;
	font-family: "century gothic", verdana, arial, sans-serif;
	margin-left: 190px;
}

/* MenuOption Begin, inspired by https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
/* Customization of side navigation bar */
.leftmenu {
	background-color: #ece2f0;
	height: 100%;
	width: 180px;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 10px;
}
/* Customization of the font in the side navigation bar */
.leftmenu a {
	color: #014636;
	font-weight: bold;
	font-size: 25px;
	font-family: "century gothic", verdana, arial, sans-serif;
	padding: 10px 6px 4px 16px;
	text-decoration: none;
	display: block;
}
/* Change colour, weight, size, and underline of font when mouse hovers over the sidebar links */
.leftmenu a:hover {
	color: #08519c;
	font-weight: lighter;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-style: wavy;
}
/* ResponsiveOption Begin, inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive */
/* When the screen size is too small, my photo and the sidebar links move to the top of the page. */
@media screen and (max-width: 800px) {
	.leftmenu {
		width: 100%;
		height: auto;
		position: relative;
	}
	.leftmenu a {
		float: left;
	}
	body {
		margin-left: 0px; /* margin is removed from the body */
	}
}
/* ResponsiveOption End, inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive */
/* MenuOption End, inspired by https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

/* Customization of site banner */
.sitebanner {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 12px;
	background: #ebd8ea;
}
/* Customization of site banner paragraph text */
.sitebanner p {
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	font-family: "century gothic", verdana, arial, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}
/* Customization of Header 1 */
h1 {
	color: #014636;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	font-family: "century gothic", verdana, arial, sans-serif;
	margin-block-start: 15px;
	margin-block-end: 15px;
}

/* Customization of Header 2 */
/* h2, inspired by Shawn Morgan, https://fleming.desire2learn.com/d2l/home */
h2 {
	color: #4B6F44;
	text-align: left;
	font-weight: bold;
	font-size: 25px;
	font-family: "century gothic", verdana, arial, sans-serif;
	border-radius: 15px;
	border: 2px dashed #4B6F44;
	background: #FFF;
	padding: 9px;
	width: auto;
	height: 50px;
}
/* End of h2, inspired by Shawn Morgan, https://fleming.desire2learn.com/d2l/home */

/* Customization of Header 3 */
h3 {
	color: #2E5894;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	font-family: "century gothic", verdana, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of projects Header 3 text*/
/* .projects h3, inspired by Shawn Morgan, https://fleming.desire2learn.com/d2l/home */
.projects h3 {
	color: #2E5894;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: "century gothic", verdana, arial, sans-serif;
	border-radius: 15px;
	border: 1px solid #2E5894;
	background: #f0f5fc;
	padding: 7px;
	width: auto;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
/* End of .projects h3, inspired by Shawn Morgan, https://fleming.desire2learn.com/d2l/home */

/* Customization of Header 4 */
h4 {
	color: #000;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	font-family: "century gothic", verdana, arial, sans-serif;
	margin-block-end: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of paragraph text */
p {
	color: #000;
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	font-family: "century gothic", verdana, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* TableOption Begin, inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
/* Colours inspired by https://colorbrewer2.org/#type=sequential&scheme=Greens&n=9 */
/* Customization of whole table */
#futureparks {
	font-family: "century gothic", verdana, arial, sans-serif;
	width: 70%;
	padding-left: 5px;
	padding-right: 5px;
}
/* Customization of table content */
#futureparks td {
	border: 1px;
	padding: 10px;
	border-radius: 15px;
	font-size: 16px;
}
/* Make the first column a certain colour and bold */
#futureparks td:nth-child(1){
	background-color: #c7e9c0;
	font-weight: bold;
}
/* Make second and third column centered */
#futureparks td:nth-child(2), td:nth-child(3){
	text-align: center;
}
/* Make the even table rows a certain colour */
#futureparks tr:nth-child(even){
	background-color: #e5f5df;
}
/* Make the odd table rows a certain colour */
#futureparks tr:nth-child(odd){
	background-color: #f7fcf5;
}
/* Customization of table headings */
#futureparks th {
	padding: 12px;
	text-align: center;
	background-color: #00441b;
	color: white;
	border-radius: 15px;
	font-weight: bold;
	font-size: 17px;
}
/* TableOption End, inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */


/* Responsive Two Column Layout for About Page Begin, inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive */
/* Education Section */
* {
	box-sizing: border-box;
}
/* Create two even columns */
.columneducation {
	float: left;
	width: 50%; /* two columns */
	padding-left: 10px;
	padding-right: 10px;
}
/* Clear floats after the columns */
.roweducation:after {
	content: "";
	display: table;
	clear: both; 
}
/* Stack columns if page size is too small */
@media screen and (max-width: 1500px) {
	.columneducation {
		width: 100%;
	}
}
/* Responsive Two Column Layout for About Page End */

/* Responsive Three Column Layout for About Page Begin, inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive */
/* Skills and Certifications Section */
* {
	box-sizing: border-box;
}
/* Create three even columns */
.columnskills {
	float: left;
	width: 33.33%; /* three columns */
	padding-left: 10px;
	padding-right: 10px;
}
/* Clear floats after columns to allow page to continue flow of other content */
.rowskills:after {
	content: "";
	display: table;
	clear: both;
}
/* Display skills/certifications in two columns if page gets small */
@media screen and (max-width: 1500px) {
	.columnskills {
		width: 50%;
	}
}
/* Display skills/certifications in one column if page gets even smaller */
@media screen and (max-width: 700px) {
	.columnskills {
		width: 100%;
	}
}
/* Responsive Three Column Layout for About Page End */


/* Responsive Two Column Layout for Projects Page Begin, inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive */
/* Projects Section */
* {
	box-sizing: border-box;
}
/* Create two even columns */
.columnprojects {
	float: left;
	width: 50%; /* two columns */
	padding-left: 10px;
	padding-right: 10px;
}
/* Clear floats after columns to allow page to continue flow of other content */
.rowprojects:after {
	content: "";
	display: table;
	clear: both;
}
/* Display projects in one column if page size is too small */
@media screen and (max-width: 1500px) {
	.columnprojects {
		width: 100%;
	}
}
/* Responsive Two Column Layout for Projects Page End */


/* Center images, inspired by https://www.w3schools.com/howto/howto_css_image_center.asp */
.centerimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* TableOption Begin, inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
/* Colours inspired by https://colorbrewer2.org/#type=sequential&scheme=Blues&n=9 */
/* Customization of whole table */
#flemingcourses {
	font-family: "century gothic", verdana, arial, sans-serif;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}
/* Customization of table content */
#flemingcourses td {
	border: 1px;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
	font-size: 16px;
}
/* Make the odd table rows a certain colour */
#flemingcourses tr:nth-child(odd){
	background-color: #deebf7;
}
/* Make the even table rows a certain colour */
#flemingcourses tr:nth-child(even){
	background-color: #c6dbef;
}
/* Make the text in the even columns aligned left */
#flemingcourses td:nth-child(even), th:nth-child(even){
	text-align: left;
}
/* Customization of table headings */
#flemingcourses th {
	padding: 14px;
	background-color: #08519c;
	color: white;
	border-radius: 15px;
	font-size: 17px;
}
/* TableOption End, inspired by https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
